#haha {
    -fx-background-image: url("Bilder/minside.jpg");
    -fx-background-size: 1024px 768px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;


}

#border {
    -fx-background-color: GhostWhite ;
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%);
    -fx-padding: 20;


}


#textarea {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: Avenir Light;
    -fx-padding: 20px;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 50, 0, 0, 0);
}

#listview {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-family: Avenir Light;
    -fx-padding: 20px;
    -fx-background-radius: 50px;
}

