#borderpane {
    -fx-background-image: url("Bilder/skadeback.png");
}

#promtfix, #promtfix:focused {
    -fx-prompt-text-fill:darkgray;
    -fx-background-radius: 0;
}

#forsikring{
    -fx-background-color: rgb(248, 76, 72);
    -fx-background-radius: 0;
}

#forsikring:hover, #forsikring:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-color: black;
}

#felt{
    -fx-border-color: gray;
    -fx-border-width: 2px;
}

#fil {
    -fx-background-color: rgb(248, 76, 72);
    -fx-background-radius: 0;
    -fx-font: 16px "Myriad";
}

#fil:hover, #fil:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-color: black;
}

#btnRapSkade {
    -fx-background-color: rgb(248, 76, 72);
    -fx-background-radius: 0;
    -fx-font: 16px "Myriad";
}

#btnRapSkade:hover, #btnRapSkade:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-color: black;
}

#error {
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-background-image:url("Bilder/cross.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

#valid {
    -fx-text-fill: green;
    -fx-border-color: green;
    -fx-border-width: 2px;
}