#promtfix, #promtfix:focused {
    -fx-prompt-text-fill:darkgray;
    -fx-background-radius: 0;
}

#borderpane {
    -fx-background-image: url("Bilder/batback.png");
}

#btnSjekkpris {
    -fx-background-color: rgb(126, 155, 210);
    -fx-background-radius: 0;
    -fx-font: 16px "Myriad";
}

#btnSjekkpris:hover, #btnSjekkpris:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-color: black;
}

#btnRegBatforsikring {
    -fx-background-color: rgb(126, 155, 210);
    -fx-background-radius: 0;
    -fx-font: 16px "Myriad";

}

#btnRegBatforsikring:hover, #btnRegBatforsikring:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-color: black;
}

#egenandel, #egenandel:focused {
    -fx-background-radius: 0;
}

#error {
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-background-image:url("Bilder/cross.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;

}

#valid {
    -fx-text-fill: green;
    -fx-background-image:url("Bilder/check.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}
