#borderpane {
    -fx-background-image: url("Bilder/road.jpg");
    -fx-background-size: 1024px 768px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#overskrift {
    -fx-text-fill: white;
        -fx-font-size: 20px;
        -fx-font-family: Avenir Light;
}

#lbBil {
    -fx-text-fill: white;
        -fx-font-size: 20px;
        -fx-font-family: Avenir Light;
}

#velgeier {
-fx-text-fill: white;
        -fx-font-size: 20px;
        -fx-font-family: Avenir Light;
}

#rbtJa {
-fx-text-fill: white;
        -fx-font-size: 16px;
        -fx-font-family: Avenir Light;
}

#rbtNei {
-fx-text-fill: white;
        -fx-font-size: 16px;
        -fx-font-family: Avenir Light;
}

#lbPerson {
-fx-text-fill: white;
        -fx-font-size: 20px;
        -fx-font-family: Avenir Light;
}