.root {
    -fx-background-image: url("Bilder/loginnback.png");
}


#kunde_velkommen_tekst {
    -fx-text-fill: black;
    -fx-font-size: 60px;
    -fx-font-family: Avenir Light;
}
#konsulent_velkommen_tekst {
    -fx-text-fill: black;
    -fx-font-size: 40px;
    -fx-font-family: Avenir Light;
}

#logginn_info {
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: Avenir Light;
}

#logginnInfo {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: Avenir Light;
    -fx-background-color: black;
}

#tfkundenr {
      -fx-background-image:url("Bilder/login.png");
      -fx-background-size: 24px 24px;
      -fx-background-repeat: no-repeat;
      -fx-background-position: right center;
}

#pfKundePassord {
    -fx-background-image:url("Bilder/lock.png");
    -fx-background-size: 28px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

#tfbrukernavn {
      -fx-background-image:url("Bilder/login.png");
      -fx-background-size: 24px 24px;
      -fx-background-repeat: no-repeat;
      -fx-background-position: right center;
}

#pfbrukernavn {
    -fx-background-image:url("Bilder/lock.png");
    -fx-background-size: 28px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

#tfkundenr, #tfkundenr:focused {
    -fx-prompt-text-fill:darkgray;
}

#pfKundePassord, #pfKundePassord:focused {
    -fx-prompt-text-fill:darkgray;
}

#tfbruknavn, #tfbrukernavn:focused {
    -fx-prompt-text-fill:darkgray;
}

#pfbrukernavn, #pfkundenr:focused {
    -fx-prompt-text-fill:darkgray;
}

#error1 {
    -fx-prompt-text-fill:red;
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-background-image:url("Bilder/login.png");
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

#error2 {
    -fx-prompt-text-fill:red;
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-background-image:url("Bilder/lock.png");
    -fx-background-size: 28px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}



