.root {
    -fx-background-image: url("Bilder/nykunde.png");
}

#promtfix, #promtfix:focused {
    -fx-prompt-text-fill:darkgray;
    -fx-background-radius: 0;
}

#poststed {
    -fx-font: 16px "Myriad";
}

#info {
    -fx-font: 12px "Myriad";
    -fx-text-fill:white;
    -fx-background-color: black;
    -fx-padding: 5px;
}


#nykunde {
    -fx-font-size: 32px;
    -fx-font-family: "Myriad";
}

#btNyKunde {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 0;
    -fx-border-color: white;
    -fx-font: 14px "Myriad";
}

#btNyKunde:hover, #btNyKunde:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-color: black;
}

#konsulent_ny {
    -fx-font-size: 32px;
    -fx-font-family: "Myriad";
}

#fornavn, #fornavn:focused {
    -fx-prompt-text-fill:darkgray;
}

#etternavn, #etternavn:focused {
    -fx-prompt-text-fill:darkgray;
}

#personnr, #personnr:focused {
    -fx-prompt-text-fill:darkgray;
}

#telefon, #telefon:focused {
    -fx-prompt-text-fill:darkgray;
}

#epost, #epost:focused {
    -fx-prompt-text-fill:darkgray;
}

#adresse, #adresse:focused {
    -fx-prompt-text-fill:darkgray;
}

#velgpassord, #velgpassord:focused {
    -fx-prompt-text-fill:darkgray;
}

#gjentapassord, #gjentapassord:focused {
    -fx-prompt-text-fill:darkgray;
}

#error {
    -fx-text-fill: red;
    -fx-border-color: red;
    -fx-background-image:url("Bilder/cross.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;

}

#valid {
    -fx-text-fill: green;
    -fx-background-image:url("Bilder/check.png");
    -fx-background-size: 32px 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}